body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242424;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.card {
  color: white;
  background-color: #00000098;
  padding: 2em;
  width: 100%;
  border-radius: 2em;
  margin: 1em;
  max-width: 600px;
}

.head {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  font-family: "Open Sans", sans-serif;
  font-family: "Righteous", cursive;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 33.5px;
  width: 33.5px;
  outline: none;
  background-color: rgba(54, 54, 54, 0.384);
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
button:hover {
  background-color: rgba(36, 36, 36, 0.863);
}

input {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0.4em 1em;
  background-color: rgba(75, 75, 75, 0.603);
  color: white;
  font-size: 105%;
  width: calc(100% - 80px);
}

.weather.loading {
  display: none;
  visibility: hidden;
  position: relative;
}

.weather.loading::after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute top = 0;
}

.weather {
  margin-left: 0.4em;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.github {
  color: white;
  margin-top: 2em;
  text-align: center;
}

.github a {
  color: white;
}

.github a:hover {
  color: rgb(160, 160, 160);
}
